  .signin__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px 20px 30px;
  }
  
  .signin__formbutton_submit {
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 320px;
    color: #ffffff;
    background-color: #03b16b;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
      background-color:   #1a875be0;
    }
    &:active {
      background-color:  #03b16b;
    }
  }

  .signin__button_redirect {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 30px;
    align-self: self-end;
    transition: color 0.1s;
    &:hover {
     color: #1a875be0;
    }
 }
  
  .signin__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
  }