.signup__button {
  padding: 0 10px;
  font-size: 15px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}
.signup__button:hover {
  opacity: 0.8;
}

.signup__button:active {
  background-color: rgba(210, 210, 210, 0.577);;
}